<article class="justify-evenly sm:justify-start text-black p-2 shadow-md rounded border border-blue flex gap-4 items-center">
    <h3 class="p-2 font-bold text-blue" >
        1
    </h3>
    <div class="sm:flex sm:gap-4 text-sm sm:text-base" >
        <dl>
            <dt class="font-medium">Valor Juros</dt>
            <dd class="text-black" >R$ 150,00</dd>
        </dl>
        <dl>
            <dt class="font-medium">Valor Parcela</dt>
            <dd>R$ 950,00</dd>
        </dl>
    </div>

    <div class="sm:flex sm:grow text-sm sm:text-base">
        <dl>
            <dt class="font-medium">Valor Amortizado</dt>
            <dd>R$ 800,00</dd>
        </dl>
        <dl class="ml-auto">
            <dt class="font-medium">Saldo Devedor</dt>
            <dd>R$ 10.000,00</dd>
        </dl>
    </div>

</article>