@tailwind base;
@tailwind components;
@tailwind utilities;

.default-input{
    border: 1px solid #404b52;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

/* Center the dialog */
.cdk-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5); /* Optional: Adds a semi-transparent backdrop */
}

/* Style the dialog content */
.cdk-dialog-container {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.7); /* Darker backdrop */
}